<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Just Media Click Store</h1>
  <p class="lead">This project consists on the creation of a web graphic interface in order to establish relationships between Stores, Products and Categories </p>
</div>